<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mbdb/style.css' %}">

<div class="header">
    <img class="header" src="{% static 'mbdb/images/mbsystem_logo.gif' %}" alt="mbsystem logo">
</div>

 

<!--put your text here
-->

<h1>Template</h1>

  <p>This is an example of the material needed for a complete web page</p>
 


  
<hr class="solid">
<div class="footer">
  <p>This is page /templates/mbdb/html_paje_template.html</p>
  <p><a href="https://www.mbari.org/technology/seafloor-mapping/" target="_blank">MBARI Seafloor Mapping Lab</a>
     | <a href="https://www.mbari.org/products/research-software/mb-system/" target="_blank">MB-System</a></p>
</div>
  </body>
</html>
